<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>564196995115-de24gjj06go2u1o4uqr0t2mjmrdsalq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564196995115-de24gjj06go2u1o4uqr0t2mjmrdsalq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAGUm7Q5FiV7FkO4neP9TWKK5xN41lFDuk</string>
	<key>GCM_SENDER_ID</key>
	<string>564196995115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dtran.WesRides</string>
	<key>PROJECT_ID</key>
	<string>wesrides-e554b</string>
	<key>STORAGE_BUCKET</key>
	<string>wesrides-e554b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:564196995115:ios:af3cdfe8f5a6c76e</string>
	<key>DATABASE_URL</key>
	<string>https://wesrides-e554b.firebaseio.com</string>
</dict>
</plist>